/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.logo h1 {
  font-size: 1.8rem;
  font-weight: 700;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo h1 span {
  color: var(--text-color);
}

.logo svg {
  height: 30px;
  width: 30px;
  animation: rotate 10s linear infinite;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 480px) {
  .logo h1 {
    font-size: 1.5rem;
  }
}